#preference-section{
    width: 40vw;
    height: auto;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30vw;
    padding-top: 3vh;

    display: flex;
    justify-content: center;
}

#preference-section > #preference-form > #preference-form-title > h2 {
    padding-left: 10vw;
}

#preference-section > #preference-form > #preference-form-title > h3 {
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: cursive;
    font-size: 1.7vw;
    padding-left: 2vw;
    padding-top: 2.5vh;
    color: white;
}

#preference-section > #preference-form > #preference-form-div {
    display: grid;
    grid-column-gap: initial;
    align-content: space-between;
    justify-items: stretch;

}

#preference-section > #preference-form > #preference-form-div > .preference-form {
    align-items: center;
    height: auto;
    padding-top: 3vh;
    flex-direction: column;
    margin: 0;
}

#preference-section > #preference-form > #preference-form-div > .preference-form > h3 {
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: cursive;
    font-size: 1.5vw;
    /*padding-top: 3vh;*/
    padding-left: 2vw;
    color: white;
}

#preference-section > #preference-form > #preference-form-div > .preference-form > #preference-keys > p {
    height: auto;
    margin: 0;
    font-family: cursive;
    font-size: 1.3vw;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
    color: white;
}


#preference-section > #preference-form > #preference-form-div > .preference-form > #preference-keys > input {
    margin-left: 5vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 4vh;
}


.keySet {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    justify-items: center;
    width: 35vw;
    padding-left: 3vw;
    padding-right: 3vw;
    flex-wrap: nowrap;
}

.rangeSet {
    width: 80%;
    height: auto;
}

.rangeW{
    padding-left: 6vw;
    padding-top: 7vh;
    height: 10vh;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1.5vh;
    border-radius: 10px;
    background: white;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

input[type="range"]:hover{
    transform: scale(1.1);
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background: #f8e76e;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #03a9f4;
    cursor: pointer;
}

.colorsSet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1vw;
    font-family: cursive;
}

#preference-form-colors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#preference-keys{
    flex-direction: column;
    align-items: center;
}

.pref-btn{
    margin: 3px;
    font-size: 1.5vw;
    border-color: #f8e76e;
    border-style: solid;
    background: none;
    border-radius: 100px;
    width: 10vw;
    height: 5vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    cursor: pointer;
    font-family: cursive;
    display: flex;
    font-style: italic;
    flex-direction: column;
    justify-content: space-around;
}




#preference-section > #preference-form > #preference-form-div > .preference-form > .rangeSet > .rangeW > .range-val span {
    width: 3vw;
    height: 3vh;
    line-height: 3vh;
    text-align: center;
    background: #f8e76e;
    color: black;
    font-size: 1vw;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(0, -130%);
    border-radius: 6px;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
}

#preference-section > #preference-form > #preference-form-div > .preference-form > .rangeSet > .rangeW > .range-val span:before {
    content: "";
    position: inherit;
    width: 0;
    height: 0;
    border-top: 10px solid #f8e76e;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}


.preference-form::after {
    display: block;
    height: 2px;
    background-color: #d66e3b;
    content: " ";
    width: 100%;
    margin-top: 2vh;
}

.submitButtonD{
    margin: auto;
    /* padding-left: 5vw; */
    padding-top: 3vh; 
    flex-direction: row;
}


#key-board-input{
    display: flex;
    justify-content: center;
    margin-left: 14vw;
    height: 3vh;
    width: 10vw;
    font-size: 1.4vw;
}

.color-btn{
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 3vw;
}
#blackPlayer {
    margin-left: 11vw; 
}

.color-btn img{
    width: 5vw;
    height: 5vw;
    /* margin-right: 5vw; */
}
  
.color-btn.clicked {
    transform: scale(1.2);
}
  